.content-wrapper.devise-wrapper
  .devise-header
    %h1.app-logo GroupChat
  .devise-main
    .devise-main__inner
      .devise-main__inner--left
        %h2 Sign up
        .devise_link_font
          = render "devise/shared/links"
      .devise-main__inner--right
        .account-form
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            .field
              = f.label :name
              = f.text_field :name, autofocus: true, class: 'input-field'
              %br/
            .field
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, class: 'input-field'
            .field
              = f.label :password
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
              %br/
              = f.password_field :password, autocomplete: "off", class: 'input-field'
            .field
              = f.label :password_confirmation
              %br/
              = f.password_field :password_confirmation, autocomplete: "off", class: 'input-field'
            .actions.submit
              = f.submit "Sign up", class: 'bt bt--orange'
